<?xml version="1.0"?>
<launch>
  <!--============== User‑configurable args ==============-->
  <arg name="tags_file"          default="$(find rgmc_vision)/config/tags_test.yaml"/>
  <arg name="publish_tf"         default="true"/>

  <arg name="cam1_name"          default="oak_left"/>
  <arg name="cam2_name"          default="oak_right"/>

  <arg name="cam1_params"        default="$(find rgmc_vision)/config/oak_left.yaml"/>
  <arg name="cam2_params"        default="$(find rgmc_vision)/config/oak_right.yaml"/>

  <!--============== Camera 1 Group ==============-->
  <group ns="$(arg cam1_name)">
    <include file="$(find depthai_ros_driver)/launch/camera.launch">
      <arg name="name" value="$(arg cam1_name)"/>
      <arg name="rectify_rgb" value="true"/>
      <arg name="enable_depth" value="false"/>
      <arg name="rgb_camera_color_profile" value="1920,1080,30"/>
      <arg name="params_file" value="$(arg cam1_params)"/>
    </include>

    <include file="$(find rgmc_vision)/launch/continuous_detection_ns.launch">
      <arg name="camera_name" value="$(arg cam1_name)"/>
      <arg name="camera_frame" value="$(arg cam1_name)"/>
      <arg name="publish_tf" value="$(arg publish_tf)"/>
      <arg name="tags_file" value="$(arg tags_file)"/>
    </include>
  </group>

  <!--============== Camera 2 Group ==============-->
  <group ns="$(arg cam2_name)">
    <include file="$(find depthai_ros_driver)/launch/camera.launch">
      <arg name="name" value="$(arg cam2_name)"/>
      <arg name="rectify_rgb" value="true"/>
      <arg name="enable_depth" value="false"/>
      <arg name="rgb_camera_color_profile" value="1920,1080,30"/>
      <arg name="params_file" value="$(arg cam2_params)"/>
    </include>

    <include file="$(find rgmc_vision)/launch/continuous_detection_ns.launch">
      <arg name="camera_name" value="$(arg cam2_name)"/>
      <arg name="camera_frame" value="$(arg cam2_name)"/>
      <arg name="publish_tf" value="$(arg publish_tf)"/>
      <arg name="tags_file" value="$(arg tags_file)"/>
    </include>
  </group>

  <!--============== Static transforms ==============-->
  <node pkg="tf" type="static_transform_publisher" name="tabletop_broadcaster"
        args="0 0 0 0 0 0 1 tabletop world 100"/>

  <node pkg="tf" type="static_transform_publisher" name="cam2_to_cam1"
        args="0.10 0 0 0 0 0 1 \
              $(arg cam2_name)/rgb_camera_optical_frame \
              $(arg cam1_name)/rgb_camera_optical_frame 100"/>

  <!--============== Visualizer & RViz ==============-->
  <node pkg="rgmc_vision" type="visualizer.py" name="visualizer" output="screen"/>

  <param name="small_cube_description" textfile="$(find rgmc_vision)/assets/small_cube.urdf"/>
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="small_cube_state_publisher">
    <remap from="robot_description" to="small_cube_description"/>
    <remap from="joint_states"      to="small_cube_joint_states"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz"
        args="-d $(find rgmc_vision)/rviz/default.rviz"/>
</launch>
