<?xml version="1.0"?>
<launch>

	<arg name="camera_name" default="usb_cam"/>
	<arg name="publish_tf" default="true"/>
	<arg name="rviz" default="true"/>
    <arg name="record" default="true"/>
    <arg name="tags_file"/>

	<!-- set up camera -->
    <include file="$(find depthai_ros_driver)/launch/camera.launch">
        <arg name="enable_depth" value="false"/>
        <arg name="rectify_rgb" value="true"/>
        <arg name="rgb_camera_color_profile" value="1920,1080,30"/>
        <arg name="name" value="$(arg camera_name)"/>
        <arg name="params_file" value="$(find camera_test)/config/usb_cam.yaml"/>
    </include>

	<!-- set up apriltag detector -->
    <include file="$(find camera_test)/launch/continuous_detection.launch">
        <arg name="camera_name" value="$(arg camera_name)"/>
        <arg name="camera_frame" value="$(arg camera_name)"/>
        <arg name="publish_tf" value="$(arg publish_tf)"/>
        <arg name="tags_file" value="$(arg tags_file)"/>
    </include>
</launch>